.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    .cardpays{
      width: calc(25% - 20px); /* Réduire la largeur de chaque élément */
      height: 250px;
      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 0.8rem;
    padding: 20px;
    margin: 10px;
    }
    
    img{
      width: 45px;
      height: 45px;
    }
    .blockcentral{
    
    }
    h1{
      margin: auto;
      text-align: center;
    }