.divtodolist{
    text-align: center;
    height: 250px;
    width: 300px;
    background-color: aqua;
    margin-top: 10px;
}
.tache{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
p{
    margin-top: 30px;
}