.nav2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: beige;
    height: 80vh;
    background-color: #ebedee;
    width: 20vh;
}
a{
    text-decoration: none;
    color: rgb(113, 110, 110);
    }
    .activelink{
        font-weight: bold;
        color: #07c5fa;
    }
    